/* ==========================================
RESET
========================================== */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
}

img,picture,svg,video, canvas {
    display: block;
    max-width: 100%;
}

input,button,textarea, select {
    font: inherit;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,ol {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

pre {
    overflow-x: auto;
}

::selection {
    background: rgba(14, 165, 233, .3);
}